@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: yellowgreen;
}

#Timer, p {
    font-size: 7em;
    color: cornsilk;
    text-align: center;
}
#Timer {
    font-family: 'consolas';
}
p{
    font-family: 'Shadows Into Light', cursive;
}